{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron mt-4">
      <h1 class="text-center">What You Can Do</h1>
      <hr>
      <div class="card-deck">
        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">Create...</h5>
          </div>
          <div class="card-body">
            <p>
              a new user by simply entering the name, email and password and clicking "register".
            </p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">Read...</h5>
          </div>
          <div class="card-body">
            <p>
              the contents of your database by first logging in and going to the users page.
              You will see a list of all the users registered with you.
            </p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">Update...</h5>
          </div>
          <div class="card-body">
            <p>
              any user using the edit button associated with the user you wish to edit. Once you're
              satisfied with the editing, submit the new information.
            </p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">Delete...</h5>
          </div>
          <div class="card-body">
            <p>
              any user by clicking the delete button adjacent to the user you wish to delete and
              confirming your action.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
