{% extends "base.html" %}
{% block content %}
<section id="edit">
  <div class="row">
    <div id="login-band" class="d-none d-lg-block col-lg-6">

    </div>
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-0">
      <div class="container p-5">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Update Your Account</h4>
          </div>
          <div class="card-body">
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.name.label() }}
                {{ form.name( class="form-control" ) }}
              </div>
              <div class="form-group">
                {{ form.email.label() }}
                {{ form.email( class="form-control" ) }}
              </div>
              <div class="form-group">
                {{ form.user_type.label() }}
                {{ form.user_type( class="form-control" ) }}
              </div>
              {{ form.submit( class="btn btn-block btn-primary" ) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
