{% extends "base.html" %}
{% block content %}
  <div id="user_table" class="container">
    <table class="table table-striped">
      <thead>
        {% if users|length == 0 %}
        <div class="pt-4">
          <p class="lead m-0">There are no users registered yet</p>
        </div>
        {% else %}

        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Type of User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in all_users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.user_type }}</td>
          {% if current_user.user_type == 'admin' or current_user.email == user.email %}
          <td>
            <a class="btn btn-danger btn-sm text-white mr-2" data-toggle="modal" data-target="#delModal">
              Delete
            </a>
            <a class="btn btn-warning btn-sm text-white" href="/{{ user.id }}/update">
              Edit
            </a>
          </td>

          <!-- DELETE MODAL -->
          <div id="delModal" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete User?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this user?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <form action="/{{ user.id }}/delete">
                    <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <td>
            <a class="btn btn-danger btn-sm text-white disabled mr-2" data-toggle="modal" data-target="#delModal">
              Delete
            </a>
            <a class="btn btn-warning btn-sm text-white disabled" href="/{{ user.id }}/update">
              Edit
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>



    <nav>
      <ul class="pagination pagination-sm">
        {% if prev_url %}
        <li class="page-link active disabled">
          <a href="{{ prev_url }}" class="page-link">
            <span class="fas fa-angle-double-left"></span>
          </a>
        </li>
        {% endif %}
        {% if next_url %}
        <li class="page-link">
          <a href="{{ next_url }}" class="page-link">
            <span class="fas fa-angle-double-right"></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
